<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Ink bean -->
    <bean id="ink1" class="org.example.Ink">
            <property name="color" value="Blue"/>
    </bean>

    <!-- Pen bean depends on Ink -->
    <bean id="p1" class="org.example.Pen">
        <constructor-arg ref="ink1"/>
    </bean>

    <!-- Student bean depends on Writer (Pen) -->
    <bean id="st1" class="org.example.Student">
        <constructor-arg ref="p1"/>
    </bean>

</beans>
